Flask
torch
transformers
numpy
groq
python-dotenv
Werkzeug
Jinja2
MarkupSafe
click
itsdangerous
certifi
charset-normalizer
idna
requests
urllib3
tokenizers
huggingface-hub
filelock
fsspec
packaging
PyYAML
regex
safetensors
tqdm
typing_extensions